# Dependency directories
node_modules/
jspm_packages/

# Build outputs
dist/
build/
.svelte-kit/
.next/
out/

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Zipped files / backups
*.zip
*.tar.gz
*.rar

# Environment variables / secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.local
